
  <div class="row">
   <button>Enter required Details to apply for DGL</button>
  </div>
<br>
  <div class="row">
    <div class="col-xs-4">
      <label for="name">FULL NAME</label>
      <input type="text"/>
    </div>
    <br>
    <div class="col-xs-2">
      <label for="age">Loan Amount required</label>
      <input type="number"/>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-4">
      <label for="name">New Wgt of Gold</label>
      <input type="number"/>
    </div>
    <br>
    <div class="col-xs-2">
      <label for="age">Full address</label>
      <input type="text"/>
    </div>
  </div>
<br>
  <button type="submit">Submit</button>